:root {
    --background1: #c60aff;
    --darkColor: #3f4445;
    --watercolor: #a3acff;
    --glasscolor: #d0e7f7;
    --btncolor: #f9ff80;
    --btncolordarker: #dae340;
}


body {
    padding: 0;
    margin: 0;
    background: var(--background1);
    display: flex; /*if another Element than the div is on the page(sidebar), dont use this*/
    align-items: center;/*-""-*/
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}
/*Applys to all objects may have to be changed later*/
body, .box {
    box-sizing: border-box;
    border-radius: 0px 0px 30px 30px;
    margin: 0;
    padding: 0;
}

.box {
    position: relative;/*later Elements with absolute will be used. They have to know to what they are absolute*/
    background: var(--watercolor);
    border: 0.5vh solid var(--glasscolor);
    height: 15rem;
    width: 10rem;
    outline: 0;
    overflow: hidden;
}

.box::before{
    content: '';
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box::after{
    content: "";
    position: absolute;
    bottom: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    background: var(--background1);
    border-radius: 65%;/*je nach Projekt beliebig änderbar*/
    animation: spin 8s ease-in-out forwards; /*wird beim Letzten Frame gehalten. infinite wiederholt*/
}

@keyframes spin {
   0% {
        transform: translateY(0) rotate(0deg);
   }
   100% {
       transform: translateY(-100%) rotate(600deg);/*deg selbst bestimmbar*/
   }
}


.btn_drink {
    margin-left: 2vw;
    background-color: var(--btncolor);
    height: 4vh;
    width: 6vw;
    border-radius: 45px;
    border: none;
    outline: none;
}

.btn_drink:hover {background-color: 
    var(--btncolordarker);
}

.btn_drink:active {
  background-color: var(--btncolor);
  transform: translateY(1px);
}